h1 {
    padding:0;
    color:white;
    font-family: sans-serif;
}

#logo {
    position: absolute;
    height: 80px;
    right: 5%;
}

#contentframe {
    background-color: #494440;
}

#QA {
    margin-top: 20px;
}

#q {
    color: white;
}