h1 {
    padding:0;
    color:white;
    font-family: sans-serif;
}

header {
    background-image: url('MyProjects/Clouds/Screenshot2.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #003366;
}

#logo {
    position: absolute;
    height: 80px;
    right: 5%;
}

#contentframe {
    background-color: #003366;
}

#QA {
    margin-top: 20px;
}

#q {
    color: white;
}