h1 {
    padding:0;
    color:white;
    font-family: sans-serif;
}

#logo {
    position: absolute;
    height: 80px;
    right: 5%;
}

#contentframe {
    background-image: url('../Assets/DirectX12_Engine/FloorGrid.png');
    background-position-x: 50%;
}

#q {
    color: white;
}