h1 {
    padding:0;
    color:white;
    font-family: sans-serif;
}

#q {
    color: limegreen;
}

#backgrounds > img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

    object-fit: cover;
}