body {
	margin:0;
	padding:0;

    --headerHeight: 10vh;
}

img {
	width:100%;
	height:100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

button {
	border:none;
	background-color:transparent;
}

/*Header*/

header {
	position: relative;
	width: 100%;
	height: var(--headerHeight);
}

header img {
    object-fit: cover;
    object-position: 0% 20%;
    position:absolute;
}

/* Back Button*/

#backButton {
    position: absolute;

    --backButtonMul: 1.5;
    
    width: calc(var(--headerHeight) * var(--backButtonMul));
    height: var(--headerHeight);
    top: 0;
    left: calc(var(--headerHeight) * -0.5);
    
    transition: width var(--transitionTime);
    background-color: white;
	text-decoration: none;

    transform: skew(var(--skewAngle));
	-moz-transform: skew(calc(--skewAngle));
}

#backButton h1 {
	position: absolute;
	top: 25%;
	right: 25px;
	color: black;
}

/* Content */

#content {
	position: absolute;
	width: 100%;
	height: calc(100% - var(--headerHeight));
	top: var(--headerHeight);

	overflow: hidden;
	background-size: cover;
}

.contentPage {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 100px;
}

/* Projects */

#projects {
	position: absolute;

	display: flex;
	justify-content: space-evenly;
	box-sizing: content-box;

	bottom: 0;
	left: 0;
	right: 0;
	top: 0;

	--tintOpacity: 0.5;
}

.project {
	position: relative;

	top: 12.5%;
	transition: width var(--transitionTime);

	--sizeScale: 0.75;
	--size: calc((100vh - var(--headerHeight)) * var(--sizeScale));

	width: var(--size);
	height: var(--size);

	overflow: hidden;
	margin-right: var(--marginWidth);
	margin-left: var(--marginWidth);
}

.project:hover {
	width: 75%;
}

.projectImage {
	position: absolute;
	width: 150%;
	left: -25%;

	object-fit: cover;
}

.projectLogo {
	position: absolute;
	object-fit:contain;
	width: 150%;
	height: 50%;
	left: -25%;
	top: 25%;
}

.projectText {
	position: absolute;
	top: 45%;
	color: white;
	width: 100%;
	text-align: center;
}