@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

:root {
    font-family: Arial, Helvetica, sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    line-height: 100%;
}

body {
    --transitionTime: 0.5s;
	--headerHeight: 10vh;
    --skewAngle: -20deg;
    --tintOpacity: 0.4;
    --blurSize: 10px;
    --marginWidth: 0.1%;
}