body {
	margin:0;
	padding:0;
	
	overflow-x: hidden;
}

a {
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Kanit', sans-serif;
}

p {
	font-size: 24px;
	margin: 0;
	font-family: 'Kanit', sans-serif;
}

img {
	width:100%;
	height:100%;
}

video {
	position: absolute;
}

button {
	border:none;
}

/*Header*/
header {
	position: relative;
	width: 100%;
	height: var(--headerHeight);

	display: flex;
	justify-content: center;
}

header p, header h1 {
	display: inline-block;
	font-size: calc(var(--headerHeight) / 2);
	padding: 2.5vh;
	text-align: center;
}

/*Content*/

#categoryContainer {
	position: absolute;
	width: 150%;
	left: -25%;
	top: calc(var(--headerHeight));
	bottom: 0px;
	
	overflow: hidden;

	display: flex;

	--innerTint: 0%;
	--outerTint: 0%;
}

.gamesTint::before {
	content:"";
	position: absolute;
	top: 0;
	bottom: 0;
	left: var(--outerTint);
	right: var(--innerTint);

	transition: left var(--transitionTime), right var(--transitionTime);
	background-color:black;
	opacity: var(--tintOpacity);
}

.racingTint::before {
	content:"";
	position: absolute;
	top: 0;
	bottom: 0;
	left: var(--innerTint);
	right: var(--outerTint);

	transition: left var(--transitionTime), right var(--transitionTime);
	background-color:black;
	opacity: var(--tintOpacity);
}

#category {
	position: relative;
	width: 50%;
	height: 100%;
	overflow: hidden;

	margin-top: calc(var(--marginWidth) * 2);
	margin-right: var(--marginWidth);
	margin-left: var(--marginWidth);

	transition: width var(--transitionTime);
}

.gamesVideo {
	position: absolute;
	width: auto;
	height: 100%;
}

.racingVideo {
	position: absolute;
	right: 20%;
	height: auto;
}

#content {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 2.5vh;
}

#gamesTextWrapper {
	position: absolute;
	top:50%;
	left: 60%;
	transform: translateY(-50%);
}

#racingTextWrapper {
	position: absolute;
	top:50%;
	right: 60%;
	transform: translateY(-50%);
}