body {
	margin:0;
	padding:0;
	
	overflow: hidden;
}

:root {
	--turnTableAngle: 0deg;
	--centerTriangleOffset: 1rem;
}

a {
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Kanit', sans-serif;
}

p {
	font-size: 24px;
	margin: 0;
	font-family: 'Kanit', sans-serif;
}

img {
	width:100%;
	height:100%;
}

video {
	position: absolute;
}

button {
	border:none;
}

/*Header*/
header {
	position: relative;
	width: 100%;
	height: var(--headerHeight);

	display: flex;
	justify-content: center;
}

header p, header h1 {
	display: inline-block;
	font-size: calc(var(--headerHeight) / 2);
	padding: 2.5vh;
	text-align: center;
}

/*Content*/
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.turnTable {
	width: 500vmax;
	height: 500vmax;
	transform-origin: 0 0;
	transform-style: preserve-3d;
}

.triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5rem solid transparent;
	border-right: 5rem solid transparent;
	border-bottom: 8rem solid black;
	transform: translate(-50%, -50%) rotateZ(180deg);
}

.leftBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clip-path: polygon(
		0 0,
		calc(50% - 5rem - var(--centerTriangleOffset)) calc(50% - 4rem - var(--centerTriangleOffset)),
		50% calc(50% + 4rem + var(--centerTriangleOffset)),
		50% 100%,
		0 100%
	);
	transform: translate(calc(-50% - var(--centerTriangleOffset)), -50%);
}

.topBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clip-path: polygon(
		0 0,
		100% 0,
		calc(50% + 5rem + var(--centerTriangleOffset)) calc(50% - 4rem - var(--centerTriangleOffset)),
		calc(50% - 5rem - var(--centerTriangleOffset)) calc(50% - 4rem - var(--centerTriangleOffset))
	);
	transform: translate(-50%, calc(-50% - var(--centerTriangleOffset)));
}

.rightBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clip-path: polygon(
		100% 0,
		calc(50% + 5rem + var(--centerTriangleOffset)) calc(50% - 4rem - var(--centerTriangleOffset)),
		50% calc(50% + 4rem + var(--centerTriangleOffset)),
		50% 100%,
		100% 100%
	);
	transform: translate(calc(-50% + var(--centerTriangleOffset)), -50%);
}

.turnTableBox > img {
	object-fit: contain;
	filter: grayscale(100%) sepia(35%) saturate(250%) hue-rotate(175deg);
	transform: rotate(var(--turnTableAngle))
}

.leftBox > p {
	position: absolute;
	top: 50%;
	color: red;
	transform: translate(-50%, -50%);
	left: calc(50% + var(--centerTriangleOffset) - 25vw);
}

.name {
	color: white;
	font-size: 2rem;
}
