h1 {
    margin:0;
    padding:0;
    color:white;
    font-family: sans-serif;
}

button {
    border: none;
    background-color: transparent;
}

header {
    background-image: url('Fennec_Peak/Poster.jpg');
    background-size: cover;
    background-position-y: 29%;
    background-repeat: no-repeat;
}

#logo {
    position: absolute;
    height: 80px;
    right: 5%;
}

#contentframe {
    position: relative;
    background-image: url('Fennec_Peak/Background.png');
    background-size: cover;
    background-position-x: 50%;
    min-height: 100%;
    padding: 25px;
}

#details {
    position: sticky;
    width: 400px;
    top: 0;
    float: left;
}

#details img {
    width: 100%;
}

#details button {
    width: 100%;
    height: 80px;
    position: relative;
}

#details button img {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 0;
    top: 0;
}

#details button p {
    color: white;
}

#QA {
    position: relative;
}

#QA p {
    font-size: 18px;
}

#q {
    text-align: right;
    width: 50%;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    color: limegreen;
}

#a {
    text-align: left;
    width: 50%;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0;

    color: white;
}

#content {
    margin: 0px auto;
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

#content * {
    margin-bottom: 15px;
}

#content img {
    position: relative;
    max-width: 100%;
    box-shadow: 5px 5px 5px black;
    margin: 0px 0px 15px 0px;
}

#content p {
    color:white;
    font-size: 18px;
}

#codebox {
    position: relative;
    font-size: 14px;
    tab-size: 2em;
    box-sizing: border-box;
}