h1 {
    margin:0;
    padding:0;
    color:white;
}

button {
    border: none;
    background-color: transparent;
}

header {
    background-image: url('Fennec_Peak/Poster.jpg');
    background-size: cover;
    background-position-y: 29%;
    background-repeat: no-repeat;
}

#logo {
    position: absolute;
    height: 80px;
    right: 5%;
}

#contentframe {
    position: relative;
    background-image: url('Fennec_Peak/Background.png');
    padding: 25px;
    grid-gap: 25px;
    display: grid;
    grid-template-columns: 400px 1fr;
}

#details {
    position: relative;
    width: 400px;
}

#details img {
    width: 100%;
}

#details button {
    width: 100%;
    height: 80px;
    position: relative;
}

#details button img {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 0;
    top: 0;
}

#details button p {
    color: white;
}

#QA {
    position: relative;
    margin-top: 25px;
}

#QA p {
    font-size: 18px;
}

#q {
    text-align: right;
    width: 50%;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    color: limegreen;
}

#a {
    text-align: left;
    width: 50%;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0;

    color: white;
}

#desc {
    position: relative;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;
}

#desc p {
    color:white;
    font-size: 18px;
}

.line {
    border-left: 2px solid white;
    height: 100%;
    position: absolute;
    left: 50%;
}