body {
	margin:0;
	padding:0;
}

img {
	width:100%;
	height:100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

button {
	border:none;
	background-color:transparent;
}

header {
	height: 300px;
	width: 100%;
	position: relative;
	box-sizing: border-box;
}

header video{
	width: 100%;
}

#profile {
	/*Scale*/
	min-width: 620px;
	height: 200px;

	/*Style*/
	display: flex;

	/*Location*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
}

#profile img {
	width: 200px;
	height: 200px;
	border-radius: 150px;
}

#profile p {
	color: white;
}

#profile #name {
	font-size: 44px;
	font-weight: bold;
	position: relative;
	top: 10%;
	margin-left: 20px;
}

#profile #title {
	position: absolute;
	left: 220px;
	top: 35%;
	font-size: 28px;
}

#profile #links {
	position: absolute;
	height: 40px;
	left: 220px;
	top: 55%;
}

#profile #links a {
	position: relative;
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

#links a img {
	width: 100%;
	height: 100%;
	border-radius: 0px;
}

/* Content */

#content {
	position: relative;
	width: 100%;
	height: 100%;

	overflow: hidden;
	background-image: url('Fennec_Peak/Background.png');
}

#content #background {
}

#content nav
{
	display: flex;
	padding: 25px;
	position: relative;
	height: 50px;
	justify-content: space-evenly;
}

nav button {
	height: 100%;
	min-width: 200px;
	color: white;
	border-width: 4px 0px 4px 0px;
	border-style: solid;
	border-color: white;
	font-size: 24px;
	cursor: pointer;
}

.contentPage {
	position: absolute;
	top: 100px;
	bottom: 0;
	left: 0;
	right: 0;
	height: calc(100% - 100px);
	transition: all 1s;
}

/* Projects */

#projects {
	padding: 25px;
	box-sizing: border-box;

	display: flex;
	justify-content: space-evenly;
}

#projects a {
	position: relative;
	width: 400px;
	height: 100%;
}

#projects img {
	object-fit: cover;
}

#desc {
	position: absolute;
	bottom: 0;
	top: calc(100% - 100px);
	width: 100%;
}

#desc * {
	position: relative;
}

#desc h1 {
	color: white;
	font-size: 34px;
	margin-left: 10px;
	margin-top: 5px;
}
#desc img {
	float: left;
	height: 50px;
	width: 50px;
	margin-left: 5px;
}

/* About */

#about {
	color: white;
	text-align: center;

	box-sizing: border-box;
	padding: 25px;
}

#about * {
	position: relative;
}

#about h1 {
	margin-bottom: 15px;
}

#me {
	position: relative;
	width: calc(50% - 25px);
	margin: 0px 25px 25px 0px;
	float: left;
	height: calc(50% - 25px);

	box-sizing: border-box;
	padding: 15px;
}

#me p {
	font-size: 18px;
}

#education {
	position: relative;
	width: calc(50% - 25px);
	height:  calc(50% - 25px);
	margin: 0px 0px 25px 25px;
	float: left;

	box-sizing: border-box;
	padding: 15px;
}

#school {
	width: 75%;
	height: 125px;
	margin: 0px auto;
	margin-bottom: 15px;
}

#school img {
	width: 125px;
	height: 125px;
	float: left;
}

#school div {
	height: 100%;
	width: calc(100% - 125px);
	float: left;
	box-sizing: border-box;
	padding: 10px;
}

#school h3 {
	display: block;
	font-weight: 500;
	text-align: left;
}

#school h4 {
	font-size: 14px;
	font-weight: 500;
	display: block;
	text-align: left;
	margin: 0px 0px 20px 0px;
}

#school span {
	text-align: right;
	float: right;
	font-family: sans-serif;
}

#school p {
	text-align: left;
	font-size: 14px;
}

#skills {
	position: relative;
	width: 100%;
	height: 50%;
	float: left;

	padding: 15px;
	box-sizing: border-box;
}

#skills section {
	position: relative;
	width: 100%;
	height: calc(100% - (37px + 15px));
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
}

#skill {
}

#skill h2 {
	margin-bottom: 10px;
}

#skill p {
	font-size: 20px;
}

