body {
	margin:0;
	padding:0;
}

img {
	width:100%;
	height:100%;
}

p {
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

header {
	height: 300px;
	width: 100%;
	background-image: url('Aus_Heli.jpg');
	background-position: center;
	background-size:cover;
	position: relative;
}

#profile {
	/*Scale*/
	width: 500px;
	height: 200px;

	/*Style*/
	border-color:White;
	border-style: solid;
	border-radius: 150px 150px 15px 150px;
	background-color: white;
	overflow: hidden;

	/*Location*/
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
}

#profile img {
	float: left;
	width: 200px;
	height: 200px;
	border-radius: 150px;
}

#profile div {
	float: left;
	width: 300px;
	height: 100%;
}

#profile div #textArea {
	position: relative;
	width: 100%;
	height: 140px;
}

#profile div #textArea p {
	align-items: center;

	position: absolute;
	top:50%;
	transform: translate(0, -50%);
	margin-left: 20px;
}

#profile div #buttons {
	width: 100%;
	height: 50px;
}

#profile div #buttons a {
	position: relative;
	width: 50px;
	height: 100%;
	float:right;
}

#profile div #buttons a img {
	width: 100%;
	height: 100%;
	border-radius: 0;
}

.tint::before {
	content:"";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:black;
	opacity: 0.4;
}

/*Projects*/

#projects {
	position: relative;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	background-image:url('Swe_Heli.jpg');
	background-size: cover;
	padding:5px;
	justify-content: center;
	align-content: flex-start;
}

.Project {
	position: relative;
	float: left;
	width: 400px;
	height: 250px;
	margin:10px;
	border: 5px solid white;
}

.project a div {
	position: absolute;
	width: 100%;
	height: 20%;
	top:80%;
	vertical-align: middle;
}

.project a div h1 {
	position: relative;
	font: bold 36px sans-serif;
	color:white;
	line-height: 50px;
	margin-left: 10px;
	display: inline;
}

#info {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translate(0, -50%);
	height: 80%;
	width: 40px;
	float: right;
}

#info div {
	width: 100px;
	height: 100px;
	background-color: red;
	border-radius: 20px;
}